In [1]:
import numpy as np
import pandas as pd
import pickle


from xgboost import XGBClassifier as XGBC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,confusion_matrix as cm, roc_auc_score as auc

In [4]:
data = pd.read_csv("Kaggle_Sirio_Libanes_ICU_Prediction.csv")
print(data.shape)

(1925, 231)

respiratory rate, lactate, blood pressure(diastolic and systolic), neutrophils, oxygen saturation level, immature grans(Abs),
hemoglobin, procalcitonin, erythrocyte sedimentation rates, brain natriuretic peptide, ferritin, D-Dimer, platelets
hematocrit, base excess venous and arterial, albumin, urea

In [6]:
x_column = ['RESPIRATORY_RATE_MEAN'
            ,'LACTATE_MEAN'
            ,'BLOODPRESSURE_DIASTOLIC_MEAN'
            ,'BLOODPRESSURE_SISTOLIC_MEAN'
           ,'NEUTROPHILES_MEAN'
            ,'OXYGEN_SATURATION_MEAN'
            ,'HEMOGLOBIN_MEAN'
           ,'UREA_MEAN'
           ,'DIMER_MEAN'
           ,'PLATELETS_MEAN'
           ,'HEMATOCRITE_MEAN']

In [7]:
data_x = data.loc[:,x_column]

In [5]:
data_x.describe()
#数据已经被放缩到-1～1之间了

,RESPIRATORY_RATE_MEAN,LACTATE_MEAN,BLOODPRESSURE_DIASTOLIC_MEAN,BLOODPRESSURE_SISTOLIC_MEAN,NEUTROPHILES_MEAN,OXYGEN_SATURATION_MEAN,HEMOGLOBIN_MEAN,UREA_MEAN,DIMER_MEAN,PLATELETS_MEAN,HEMATOCRITE_MEAN
count,1177.000000,821.000000,1240.000000,1240.000000,821.000000,1239.000000,821.000000,821.000000,821.000000,821.000000,821.000000
mean,-0.438754,0.267131,-0.093631,-0.332600,-0.812662,0.743077,-0.202472,-0.830181,-0.954177,-0.414479,-0.160818
std,0.217113,0.923557,0.252064,0.274102,0.146085,0.132635,0.253605,0.150934,0.123582,0.273767,0.238530
min,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,-0.552542,-0.894695,-0.262708,-0.523077,-0.896759,0.684211,-0.341463,-0.898795,-0.978877,-0.604806,-0.291405
50%,-0.502825,1.000000,-0.100172,-0.374405,-0.847139,0.736842,-0.182927,-0.874699,-0.978029,-0.463284,-0.132075
75%,-0.383289,1.000000,0.086420,-0.184615,-0.780312,0.823995,-0.024390,-0.812048,-0.968315,-0.228304,-0.002096
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
data_x_1 = data_x + 1
data_x_2 = data_x_1 * 0.5
data_x_2.describe()

,RESPIRATORY_RATE_MEAN,LACTATE_MEAN,BLOODPRESSURE_DIASTOLIC_MEAN,BLOODPRESSURE_SISTOLIC_MEAN,NEUTROPHILES_MEAN,OXYGEN_SATURATION_MEAN,HEMOGLOBIN_MEAN,UREA_MEAN,DIMER_MEAN,PLATELETS_MEAN,HEMATOCRITE_MEAN
count,1177.000000,821.000000,1240.000000,1240.000000,821.000000,1239.000000,821.000000,821.000000,821.000000,821.000000,821.000000
mean,0.280623,0.633566,0.453184,0.333700,0.093669,0.871538,0.398764,0.084910,0.022911,0.292761,0.419591
std,0.108557,0.461779,0.126032,0.137051,0.073042,0.066318,0.126803,0.075467,0.061791,0.136884,0.119265
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.223729,0.052653,0.368646,0.238462,0.051621,0.842105,0.329268,0.050602,0.010562,0.197597,0.354298
50%,0.248588,1.000000,0.449914,0.312798,0.076431,0.868421,0.408537,0.062651,0.010986,0.268358,0.433962
75%,0.308356,1.000000,0.543210,0.407692,0.109844,0.911998,0.487805,0.093976,0.015842,0.385848,0.498952
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [119]:
Xtrain,Xtest,Ytrain,Ytest = train_test_split(data_x,data_y,test_size=0.3,random_state=111)

In [120]:
print(Xtrain.shape)
print(Xtest.shape)

(1347, 11)
(578, 11)

In [121]:
clf = XGBC().fit(Xtrain,Ytrain)

In [122]:
ypred = clf.predict(Xtest)
accuracy = accuracy_score(Ytest,ypred)
precision = precision_score(Ytest,ypred)
recall = recall_score(Ytest,ypred)
f1 = f1_score(Ytest,ypred)
print("accuracy",accuracy)
print("precision",precision)
print("recall",recall)
print("f1",f1)

accuracy 0.870242214532872
precision 0.7698412698412699
recall 0.6783216783216783
f1 0.721189591078067

In [123]:
type(Xtest.iloc[0,:])

pandas.core.series.Series

In [124]:
Xtest

,RESPIRATORY_RATE_MEAN,LACTATE_MEAN,BLOODPRESSURE_DIASTOLIC_MEAN,BLOODPRESSURE_SISTOLIC_MEAN,NEUTROPHILES_MEAN,OXYGEN_SATURATION_MEAN,HEMOGLOBIN_MEAN,UREA_MEAN,DIMER_MEAN,PLATELETS_MEAN,HEMATOCRITE_MEAN
813,-0.525424,NaN,-0.407407,-0.846154,NaN,0.736842,NaN,NaN,NaN,NaN,NaN
1732,-0.525424,NaN,-0.185185,-0.400000,NaN,0.684211,NaN,NaN,NaN,NaN,NaN
1390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1168,0.062147,-0.946320,-0.275720,0.007692,-0.535414,0.552632,-0.067073,-0.836145,-0.978029,-0.535381,-0.033543
1897,0.423729,-0.689716,-0.209877,0.015385,-0.855942,0.842105,-0.030488,-0.836145,-0.978029,-0.412550,0.075472
...,...,...,...,...,...,...,...,...,...,...,...
1146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1838,-0.406780,NaN,0.086420,0.111538,NaN,0.802632,NaN,NaN,NaN,NaN,NaN
1548,-0.389831,NaN,-0.160494,-0.384615,NaN,0.684211,NaN,NaN,NaN,NaN,NaN
820,-0.593220,1.000000,0.061728,-0.030769,-0.852741,0.578947,0.097561,-0.836145,-0.862622,-0.703605,0.169811
1049,-0.418448,-0.958199,-0.134934,-0.332509,-0.837535,0.664110,-0.402439,-0.826506,-0.978029,0.030708,-0.329140

In [132]:
predict_df.loc[-1,:]=x

In [135]:
predict_df.append(x)

,0,BLOODPRESSURE_DIASTOLIC_MEAN,BLOODPRESSURE_SISTOLIC_MEAN,DIMER_MEAN,HEMATOCRITE_MEAN,HEMOGLOBIN_MEAN,LACTATE_MEAN,NEUTROPHILES_MEAN,OXYGEN_SATURATION_MEAN,PLATELETS_MEAN,RESPIRATORY_RATE_MEAN,UREA_MEAN
0,NaN,80,120,5,10,4,0.27,5,98,9,16,2
-1,NaN,80,120,5,10,4,0.27,5,98,9,16,2
0,16.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,80.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,120.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,98.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
predict_df = pd.DataFrame(columns=x_column)
predict_df.loc[0] = x

predict_df
# predict_df=predict_df.astype("float")
# predict_df.info()

,RESPIRATORY_RATE_MEAN,LACTATE_MEAN,BLOODPRESSURE_DIASTOLIC_MEAN,BLOODPRESSURE_SISTOLIC_MEAN,NEUTROPHILES_MEAN,OXYGEN_SATURATION_MEAN,HEMOGLOBIN_MEAN,UREA_MEAN,DIMER_MEAN,PLATELETS_MEAN,HEMATOCRITE_MEAN
0,16.0,0.27,80.0,120.0,5.0,98.0,4.0,2.0,5.0,9.0,10.0

In [138]:
x = [16.0, 0.27, 80.0, 120.0, 5.0, 98.0, 4.0, 2.0, 5.0, 9.0, 10.0]
Xnew = np.array(x).reshape((1,-1))
result = clf.predict(predict_df)
r = clf.predict_proba(predict_df)
r[0,1]

0.9961599

In [127]:
#save model
f = open('covid19.pickle','wb')
pickle.dump(clf,f)
f.close()


# #load model
# f = open('saved_model/rfc.pickle','rb')
# rfc1 = pickle.load(f)
# f.close()
# print(rfc1.predict(X[0:1,:]))

In [53]:
recall(Ytest,ypred)
auc(Ytest,clf.predict_proba(Xtest)[:,1])

0.8694558315247969

In [49]:
#负/正样本比例
clf_ = XGBC(scale_pos_weight=10).fit(Xtrain,Ytrain)
ypred_ = clf_.predict(Xtest)
clf_.score(Xtest,Ytest)
cm(Ytest,ypred_,labels=[1,0])
recall(Ytest,ypred_)
auc(Ytest,clf_.predict_proba(Xtest)[:,1])

0.8540390643838919

In [ ]:
#随着样本权重逐渐增加，模型的recall,auc和准确率如何变化？
for i in [1,5,10,20,30]:
clf_ = XGBC(scale_pos_weight=i).fit(Xtrain,Ytrain)

In [140]:
data=[0.3254]
data

[0.3254]

In [141]:
z = 0.9999931
lis = [z]
lis

[0.9999931]