In [112]:
import numpy as np
import pandas as pd
import pickle


from xgboost import XGBClassifier as XGBC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,confusion_matrix as cm, roc_auc_score as auc

In [113]:
data = pd.read_csv("Kaggle_Sirio_Libanes_ICU_Prediction.csv")
print(data.shape)
print(data.info(verbose=True,null_counts=True))

(1925, 231)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925 entries, 0 to 1924
Data columns (total 231 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   PATIENT_VISIT_IDENTIFIER          1925 non-null   int64
 1   AGE_ABOVE65                       1925 non-null   int64
 2   AGE_PERCENTIL                     1925 non-null   object
 3   GENDER                            1925 non-null   int64
 4   DISEASE GROUPING 1                1920 non-null   float64
 5   DISEASE GROUPING 2                1920 non-null   float64
 6   DISEASE GROUPING 3                1920 non-null   float64
 7   DISEASE GROUPING 4                1920 non-null   float64
 8   DISEASE GROUPING 5                1920 non-null   float64
 9   DISEASE GROUPING 6                1920 non-null   float64
 10  HTN                               1920 non-null   float64
 11  IMMUNOCOMPROMISED                 1920 non-null   float64
 12  OTHER                             1920 non-null   float64
 13  ALBUMIN_MEDIAN                    821 non-null    float64
 14  ALBUMIN_MEAN                      821 non-null    float64
 15  ALBUMIN_MIN                       821 non-null    float64
 16  ALBUMIN_MAX                       821 non-null    float64
 17  ALBUMIN_DIFF                      821 non-null    float64
 18  BE_ARTERIAL_MEDIAN                821 non-null    float64
 19  BE_ARTERIAL_MEAN                  821 non-null    float64
 20  BE_ARTERIAL_MIN                   821 non-null    float64
 21  BE_ARTERIAL_MAX                   821 non-null    float64
 22  BE_ARTERIAL_DIFF                  821 non-null    float64
 23  BE_VENOUS_MEDIAN                  821 non-null    float64
 24  BE_VENOUS_MEAN                    821 non-null    float64
 25  BE_VENOUS_MIN                     821 non-null    float64
 26  BE_VENOUS_MAX                     821 non-null    float64
 27  BE_VENOUS_DIFF                    821 non-null    float64
 28  BIC_ARTERIAL_MEDIAN               821 non-null    float64
 29  BIC_ARTERIAL_MEAN                 821 non-null    float64
 30  BIC_ARTERIAL_MIN                  821 non-null    float64
 31  BIC_ARTERIAL_MAX                  821 non-null    float64
 32  BIC_ARTERIAL_DIFF                 821 non-null    float64
 33  BIC_VENOUS_MEDIAN                 821 non-null    float64
 34  BIC_VENOUS_MEAN                   821 non-null    float64
 35  BIC_VENOUS_MIN                    821 non-null    float64
 36  BIC_VENOUS_MAX                    821 non-null    float64
 37  BIC_VENOUS_DIFF                   821 non-null    float64
 38  BILLIRUBIN_MEDIAN                 821 non-null    float64
 39  BILLIRUBIN_MEAN                   821 non-null    float64
 40  BILLIRUBIN_MIN                    821 non-null    float64
 41  BILLIRUBIN_MAX                    821 non-null    float64
 42  BILLIRUBIN_DIFF                   821 non-null    float64
 43  BLAST_MEDIAN                      821 non-null    float64
 44  BLAST_MEAN                        821 non-null    float64
 45  BLAST_MIN                         821 non-null    float64
 46  BLAST_MAX                         821 non-null    float64
 47  BLAST_DIFF                        821 non-null    float64
 48  CALCIUM_MEDIAN                    821 non-null    float64
 49  CALCIUM_MEAN                      821 non-null    float64
 50  CALCIUM_MIN                       821 non-null    float64
 51  CALCIUM_MAX                       821 non-null    float64
 52  CALCIUM_DIFF                      821 non-null    float64
 53  CREATININ_MEDIAN                  821 non-null    float64
 54  CREATININ_MEAN                    821 non-null    float64
 55  CREATININ_MIN                     821 non-null    float64
 56  CREATININ_MAX                     821 non-null    float64
 57  CREATININ_DIFF                    821 non-null    float64
 58  FFA_MEDIAN                        821 non-null    float64
 59  FFA_MEAN                          821 non-null    float64
 60  FFA_MIN                           821 non-null    float64
 61  FFA_MAX                           821 non-null    float64
 62  FFA_DIFF                          821 non-null    float64
 63  GGT_MEDIAN                        821 non-null    float64
 64  GGT_MEAN                          821 non-null    float64
 65  GGT_MIN                           821 non-null    float64
 66  GGT_MAX                           821 non-null    float64
 67  GGT_DIFF                          821 non-null    float64
 68  GLUCOSE_MEDIAN                    821 non-null    float64
 69  GLUCOSE_MEAN                      821 non-null    float64
 70  GLUCOSE_MIN                       821 non-null    float64
 71  GLUCOSE_MAX                       821 non-null    float64
 72  GLUCOSE_DIFF                      821 non-null    float64
 73  HEMATOCRITE_MEDIAN                821 non-null    float64
 74  HEMATOCRITE_MEAN                  821 non-null    float64
 75  HEMATOCRITE_MIN                   821 non-null    float64
 76  HEMATOCRITE_MAX                   821 non-null    float64
 77  HEMATOCRITE_DIFF                  821 non-null    float64
 78  HEMOGLOBIN_MEDIAN                 821 non-null    float64
 79  HEMOGLOBIN_MEAN                   821 non-null    float64
 80  HEMOGLOBIN_MIN                    821 non-null    float64
 81  HEMOGLOBIN_MAX                    821 non-null    float64
 82  HEMOGLOBIN_DIFF                   821 non-null    float64
 83  INR_MEDIAN                        821 non-null    float64
 84  INR_MEAN                          821 non-null    float64
 85  INR_MIN                           821 non-null    float64
 86  INR_MAX                           821 non-null    float64
 87  INR_DIFF                          821 non-null    float64
 88  LACTATE_MEDIAN                    821 non-null    float64
 89  LACTATE_MEAN                      821 non-null    float64
 90  LACTATE_MIN                       821 non-null    float64
 91  LACTATE_MAX                       821 non-null    float64
 92  LACTATE_DIFF                      821 non-null    float64
 93  LEUKOCYTES_MEDIAN                 821 non-null    float64
 94  LEUKOCYTES_MEAN                   821 non-null    float64
 95  LEUKOCYTES_MIN                    821 non-null    float64
 96  LEUKOCYTES_MAX                    821 non-null    float64
 97  LEUKOCYTES_DIFF                   821 non-null    float64
 98  LINFOCITOS_MEDIAN                 821 non-null    float64
 99  LINFOCITOS_MEAN                   821 non-null    float64
 100 LINFOCITOS_MIN                    821 non-null    float64
 101 LINFOCITOS_MAX                    821 non-null    float64
 102 LINFOCITOS_DIFF                   821 non-null    float64
 103 NEUTROPHILES_MEDIAN               821 non-null    float64
 104 NEUTROPHILES_MEAN                 821 non-null    float64
 105 NEUTROPHILES_MIN                  821 non-null    float64
 106 NEUTROPHILES_MAX                  821 non-null    float64
 107 NEUTROPHILES_DIFF                 821 non-null    float64
 108 P02_ARTERIAL_MEDIAN               821 non-null    float64
 109 P02_ARTERIAL_MEAN                 821 non-null    float64
 110 P02_ARTERIAL_MIN                  821 non-null    float64
 111 P02_ARTERIAL_MAX                  821 non-null    float64
 112 P02_ARTERIAL_DIFF                 821 non-null    float64
 113 P02_VENOUS_MEDIAN                 821 non-null    float64
 114 P02_VENOUS_MEAN                   821 non-null    float64
 115 P02_VENOUS_MIN                    821 non-null    float64
 116 P02_VENOUS_MAX                    821 non-null    float64
 117 P02_VENOUS_DIFF                   821 non-null    float64
 118 PC02_ARTERIAL_MEDIAN              821 non-null    float64
 119 PC02_ARTERIAL_MEAN                821 non-null    float64
 120 PC02_ARTERIAL_MIN                 821 non-null    float64
 121 PC02_ARTERIAL_MAX                 821 non-null    float64
 122 PC02_ARTERIAL_DIFF                821 non-null    float64
 123 PC02_VENOUS_MEDIAN                821 non-null    float64
 124 PC02_VENOUS_MEAN                  821 non-null    float64
 125 PC02_VENOUS_MIN                   821 non-null    float64
 126 PC02_VENOUS_MAX                   821 non-null    float64
 127 PC02_VENOUS_DIFF                  821 non-null    float64
 128 PCR_MEDIAN                        821 non-null    float64
 129 PCR_MEAN                          821 non-null    float64
 130 PCR_MIN                           821 non-null    float64
 131 PCR_MAX                           821 non-null    float64
 132 PCR_DIFF                          821 non-null    float64
 133 PH_ARTERIAL_MEDIAN                821 non-null    float64
 134 PH_ARTERIAL_MEAN                  821 non-null    float64
 135 PH_ARTERIAL_MIN                   821 non-null    float64
 136 PH_ARTERIAL_MAX                   821 non-null    float64
 137 PH_ARTERIAL_DIFF                  821 non-null    float64
 138 PH_VENOUS_MEDIAN                  821 non-null    float64
 139 PH_VENOUS_MEAN                    821 non-null    float64
 140 PH_VENOUS_MIN                     821 non-null    float64
 141 PH_VENOUS_MAX                     821 non-null    float64
 142 PH_VENOUS_DIFF                    821 non-null    float64
 143 PLATELETS_MEDIAN                  821 non-null    float64
 144 PLATELETS_MEAN                    821 non-null    float64
 145 PLATELETS_MIN                     821 non-null    float64
 146 PLATELETS_MAX                     821 non-null    float64
 147 PLATELETS_DIFF                    821 non-null    float64
 148 POTASSIUM_MEDIAN                  821 non-null    float64
 149 POTASSIUM_MEAN                    821 non-null    float64
 150 POTASSIUM_MIN                     821 non-null    float64
 151 POTASSIUM_MAX                     821 non-null    float64
 152 POTASSIUM_DIFF                    821 non-null    float64
 153 SAT02_ARTERIAL_MEDIAN             821 non-null    float64
 154 SAT02_ARTERIAL_MEAN               821 non-null    float64
 155 SAT02_ARTERIAL_MIN                821 non-null    float64
 156 SAT02_ARTERIAL_MAX                821 non-null    float64
 157 SAT02_ARTERIAL_DIFF               821 non-null    float64
 158 SAT02_VENOUS_MEDIAN               821 non-null    float64
 159 SAT02_VENOUS_MEAN                 821 non-null    float64
 160 SAT02_VENOUS_MIN                  821 non-null    float64
 161 SAT02_VENOUS_MAX                  821 non-null    float64
 162 SAT02_VENOUS_DIFF                 821 non-null    float64
 163 SODIUM_MEDIAN                     821 non-null    float64
 164 SODIUM_MEAN                       821 non-null    float64
 165 SODIUM_MIN                        821 non-null    float64
 166 SODIUM_MAX                        821 non-null    float64
 167 SODIUM_DIFF                       821 non-null    float64
 168 TGO_MEDIAN                        821 non-null    float64
 169 TGO_MEAN                          821 non-null    float64
 170 TGO_MIN                           821 non-null    float64
 171 TGO_MAX                           821 non-null    float64
 172 TGO_DIFF                          821 non-null    float64
 173 TGP_MEDIAN                        821 non-null    float64
 174 TGP_MEAN                          821 non-null    float64
 175 TGP_MIN                           821 non-null    float64
 176 TGP_MAX                           821 non-null    float64
 177 TGP_DIFF                          821 non-null    float64
 178 TTPA_MEDIAN                       821 non-null    float64
 179 TTPA_MEAN                         821 non-null    float64
 180 TTPA_MIN                          821 non-null    float64
 181 TTPA_MAX                          821 non-null    float64
 182 TTPA_DIFF                         821 non-null    float64
 183 UREA_MEDIAN                       821 non-null    float64
 184 UREA_MEAN                         821 non-null    float64
 185 UREA_MIN                          821 non-null    float64
 186 UREA_MAX                          821 non-null    float64
 187 UREA_DIFF                         821 non-null    float64
 188 DIMER_MEDIAN                      821 non-null    float64
 189 DIMER_MEAN                        821 non-null    float64
 190 DIMER_MIN                         821 non-null    float64
 191 DIMER_MAX                         821 non-null    float64
 192 DIMER_DIFF                        821 non-null    float64
 193 BLOODPRESSURE_DIASTOLIC_MEAN      1240 non-null   float64
 194 BLOODPRESSURE_SISTOLIC_MEAN       1240 non-null   float64
 195 HEART_RATE_MEAN                   1240 non-null   float64
 196 RESPIRATORY_RATE_MEAN             1177 non-null   float64
 197 TEMPERATURE_MEAN                  1231 non-null   float64
 198 OXYGEN_SATURATION_MEAN            1239 non-null   float64
 199 BLOODPRESSURE_DIASTOLIC_MEDIAN    1240 non-null   float64
 200 BLOODPRESSURE_SISTOLIC_MEDIAN     1240 non-null   float64
 201 HEART_RATE_MEDIAN                 1240 non-null   float64
 202 RESPIRATORY_RATE_MEDIAN           1177 non-null   float64
 203 TEMPERATURE_MEDIAN                1231 non-null   float64
 204 OXYGEN_SATURATION_MEDIAN          1239 non-null   float64
 205 BLOODPRESSURE_DIASTOLIC_MIN       1240 non-null   float64
 206 BLOODPRESSURE_SISTOLIC_MIN        1240 non-null   float64
 207 HEART_RATE_MIN                    1240 non-null   float64
 208 RESPIRATORY_RATE_MIN              1177 non-null   float64
 209 TEMPERATURE_MIN                   1231 non-null   float64
 210 OXYGEN_SATURATION_MIN             1239 non-null   float64
 211 BLOODPRESSURE_DIASTOLIC_MAX       1240 non-null   float64
 212 BLOODPRESSURE_SISTOLIC_MAX        1240 non-null   float64
 213 HEART_RATE_MAX                    1240 non-null   float64
 214 RESPIRATORY_RATE_MAX              1177 non-null   float64
 215 TEMPERATURE_MAX                   1231 non-null   float64
 216 OXYGEN_SATURATION_MAX             1239 non-null   float64
 217 BLOODPRESSURE_DIASTOLIC_DIFF      1240 non-null   float64
 218 BLOODPRESSURE_SISTOLIC_DIFF       1240 non-null   float64
 219 HEART_RATE_DIFF                   1240 non-null   float64
 220 RESPIRATORY_RATE_DIFF             1177 non-null   float64
 221 TEMPERATURE_DIFF                  1231 non-null   float64
 222 OXYGEN_SATURATION_DIFF            1239 non-null   float64
 223 BLOODPRESSURE_DIASTOLIC_DIFF_REL  1240 non-null   float64
 224 BLOODPRESSURE_SISTOLIC_DIFF_REL   1240 non-null   float64
 225 HEART_RATE_DIFF_REL               1240 non-null   float64
 226 RESPIRATORY_RATE_DIFF_REL         1177 non-null   float64
 227 TEMPERATURE_DIFF_REL              1231 non-null   float64
 228 OXYGEN_SATURATION_DIFF_REL        1239 non-null   float64
 229 WINDOW                            1925 non-null   object
 230 ICU                               1925 non-null   int64
dtypes: float64(225), int64(4), object(2)
memory usage: 3.4+ MB
None

In [114]:
data['LACTATE_MEAN'].describe()

count    821.000000
mean       0.267131
std        0.923557
min       -1.000000
25%       -0.894695
50%        1.000000
75%        1.000000
max        1.000000
Name: LACTATE_MEAN, dtype: float64

In [115]:

data_y = data.loc[:,'ICU']

respiratory rate, lactate, blood pressure(diastolic and systolic), neutrophils, oxygen saturation level, immature grans(Abs),
hemoglobin, procalcitonin, erythrocyte sedimentation rates, brain natriuretic peptide, ferritin, D-Dimer, platelets
hematocrit, base excess venous and arterial, albumin, urea

In [116]:
x_column = ['RESPIRATORY_RATE_MEAN'
            ,'LACTATE_MEAN'
            ,'BLOODPRESSURE_DIASTOLIC_MEAN'
            ,'BLOODPRESSURE_SISTOLIC_MEAN'
           ,'NEUTROPHILES_MEAN'
            ,'OXYGEN_SATURATION_MEAN'
            ,'HEMOGLOBIN_MEAN'
           ,'UREA_MEAN'
           ,'DIMER_MEAN'
           ,'PLATELETS_MEAN'
           ,'HEMATOCRITE_MEAN']

In [117]:
data_x = data.loc[:,x_column]

In [118]:
data_x.describe()
#数据已经被放缩到-1～1之间了

,RESPIRATORY_RATE_MEAN,LACTATE_MEAN,BLOODPRESSURE_DIASTOLIC_MEAN,BLOODPRESSURE_SISTOLIC_MEAN,NEUTROPHILES_MEAN,OXYGEN_SATURATION_MEAN,HEMOGLOBIN_MEAN,UREA_MEAN,DIMER_MEAN,PLATELETS_MEAN,HEMATOCRITE_MEAN
count,1177.000000,821.000000,1240.000000,1240.000000,821.000000,1239.000000,821.000000,821.000000,821.000000,821.000000,821.000000
mean,-0.438754,0.267131,-0.093631,-0.332600,-0.812662,0.743077,-0.202472,-0.830181,-0.954177,-0.414479,-0.160818
std,0.217113,0.923557,0.252064,0.274102,0.146085,0.132635,0.253605,0.150934,0.123582,0.273767,0.238530
min,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,-0.552542,-0.894695,-0.262708,-0.523077,-0.896759,0.684211,-0.341463,-0.898795,-0.978877,-0.604806,-0.291405
50%,-0.502825,1.000000,-0.100172,-0.374405,-0.847139,0.736842,-0.182927,-0.874699,-0.978029,-0.463284,-0.132075
75%,-0.383289,1.000000,0.086420,-0.184615,-0.780312,0.823995,-0.024390,-0.812048,-0.968315,-0.228304,-0.002096
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [119]:
Xtrain,Xtest,Ytrain,Ytest = train_test_split(data_x,data_y,test_size=0.3,random_state=111)

In [120]:
print(Xtrain.shape)
print(Xtest.shape)

(1347, 11)
(578, 11)

In [121]:
clf = XGBC().fit(Xtrain,Ytrain)

In [122]:
ypred = clf.predict(Xtest)
accuracy = accuracy_score(Ytest,ypred)
precision = precision_score(Ytest,ypred)
recall = recall_score(Ytest,ypred)
f1 = f1_score(Ytest,ypred)
print("accuracy",accuracy)
print("precision",precision)
print("recall",recall)
print("f1",f1)

accuracy 0.870242214532872
precision 0.7698412698412699
recall 0.6783216783216783
f1 0.721189591078067

In [123]:
type(Xtest.iloc[0,:])

pandas.core.series.Series

In [124]:
Xtest

,RESPIRATORY_RATE_MEAN,LACTATE_MEAN,BLOODPRESSURE_DIASTOLIC_MEAN,BLOODPRESSURE_SISTOLIC_MEAN,NEUTROPHILES_MEAN,OXYGEN_SATURATION_MEAN,HEMOGLOBIN_MEAN,UREA_MEAN,DIMER_MEAN,PLATELETS_MEAN,HEMATOCRITE_MEAN
813,-0.525424,NaN,-0.407407,-0.846154,NaN,0.736842,NaN,NaN,NaN,NaN,NaN
1732,-0.525424,NaN,-0.185185,-0.400000,NaN,0.684211,NaN,NaN,NaN,NaN,NaN
1390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1168,0.062147,-0.946320,-0.275720,0.007692,-0.535414,0.552632,-0.067073,-0.836145,-0.978029,-0.535381,-0.033543
1897,0.423729,-0.689716,-0.209877,0.015385,-0.855942,0.842105,-0.030488,-0.836145,-0.978029,-0.412550,0.075472
...,...,...,...,...,...,...,...,...,...,...,...
1146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1838,-0.406780,NaN,0.086420,0.111538,NaN,0.802632,NaN,NaN,NaN,NaN,NaN
1548,-0.389831,NaN,-0.160494,-0.384615,NaN,0.684211,NaN,NaN,NaN,NaN,NaN
820,-0.593220,1.000000,0.061728,-0.030769,-0.852741,0.578947,0.097561,-0.836145,-0.862622,-0.703605,0.169811
1049,-0.418448,-0.958199,-0.134934,-0.332509,-0.837535,0.664110,-0.402439,-0.826506,-0.978029,0.030708,-0.329140

In [132]:
predict_df.loc[-1,:]=x

In [135]:
predict_df.append(x)

,0,BLOODPRESSURE_DIASTOLIC_MEAN,BLOODPRESSURE_SISTOLIC_MEAN,DIMER_MEAN,HEMATOCRITE_MEAN,HEMOGLOBIN_MEAN,LACTATE_MEAN,NEUTROPHILES_MEAN,OXYGEN_SATURATION_MEAN,PLATELETS_MEAN,RESPIRATORY_RATE_MEAN,UREA_MEAN
0,NaN,80,120,5,10,4,0.27,5,98,9,16,2
-1,NaN,80,120,5,10,4,0.27,5,98,9,16,2
0,16.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,80.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,120.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,98.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
predict_df = pd.DataFrame(columns=x_column)
predict_df.loc[0] = x

predict_df
# predict_df=predict_df.astype("float")
# predict_df.info()

,RESPIRATORY_RATE_MEAN,LACTATE_MEAN,BLOODPRESSURE_DIASTOLIC_MEAN,BLOODPRESSURE_SISTOLIC_MEAN,NEUTROPHILES_MEAN,OXYGEN_SATURATION_MEAN,HEMOGLOBIN_MEAN,UREA_MEAN,DIMER_MEAN,PLATELETS_MEAN,HEMATOCRITE_MEAN
0,16.0,0.27,80.0,120.0,5.0,98.0,4.0,2.0,5.0,9.0,10.0

In [138]:
x = [16.0, 0.27, 80.0, 120.0, 5.0, 98.0, 4.0, 2.0, 5.0, 9.0, 10.0]
Xnew = np.array(x).reshape((1,-1))
result = clf.predict(predict_df)
r = clf.predict_proba(predict_df)
r[0,1]

0.9961599

In [127]:
#save model
f = open('covid19.pickle','wb')
pickle.dump(clf,f)
f.close()


# #load model
# f = open('saved_model/rfc.pickle','rb')
# rfc1 = pickle.load(f)
# f.close()
# print(rfc1.predict(X[0:1,:]))

In [53]:
recall(Ytest,ypred)
auc(Ytest,clf.predict_proba(Xtest)[:,1])

0.8694558315247969

In [49]:
#负/正样本比例
clf_ = XGBC(scale_pos_weight=10).fit(Xtrain,Ytrain)
ypred_ = clf_.predict(Xtest)
clf_.score(Xtest,Ytest)
cm(Ytest,ypred_,labels=[1,0])
recall(Ytest,ypred_)
auc(Ytest,clf_.predict_proba(Xtest)[:,1])

0.8540390643838919

In [ ]:
#随着样本权重逐渐增加，模型的recall,auc和准确率如何变化？
for i in [1,5,10,20,30]:
clf_ = XGBC(scale_pos_weight=i).fit(Xtrain,Ytrain)

In [140]:
data=[0.3254]
data

[0.3254]

In [141]:
z = 0.9999931
lis = [z]
lis

[0.9999931]